{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

        <div class="container">
            <div class="col-md-8 offset-md-2">
                <h2>Qui Sommes nous?</h2>
                <h3>L'identité du campus</h3>
                <p>Début 2016, le campus EDF, 17 ha et 22000 m² de batiments au coeur des Mureaux,<br>
                    était racheté par le conseil départemental des Yvelines. Ce site a été racheté dans<br>
                    l'optique d'y construire un centre d'innovation.</p>

                <p>Le Campus est au coeur d'un écosystème unique en IDF
                <ul>
                    <li>De grands sites de production..
                        <ul>
                            <li>Renault-Nissan à Flins</li>
                            <li>PSA à Poissy</li>
                            <li>Ariane Group aux Mureaux</li>
                        </ul>
                    </li>
                    <li>Des centres de recherches privés ou publics
                        <ul>
                            <li>Technocentre de Renault</li>
                            <li>Centre R&D PSA de Carrières-sous-Poissy</li>
                            <li>Vélizy et le projet "Powertrain" à Poissy</li>
                            <li>Thalès à Elancourt</li>
                            <li>Veolia à Limay</li>
                            <li>VEDECOM à Versailles</li>
                        </ul>
                    </li>
                    <li>Des écoles / Universités de Premier Plan
                        <ul>
                            <li>ESSEC EISTI</li>
                            <li>ENSEA ESTACA</li>
                            Les Universités de:
                            <li>St-Quentin-en-Yvelines</li>
                            <li>et de Cergy Pontoise</li>
                        </ul>
                    </li>
                </ul>
                </p>
            </div>
        </div>

</div>
{% endblock %}
