@font-face {
    font-family: 'DIN regular';
    src: url('sf_3/assets/fonts/DIN-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DIN Black';
    src: url('sf_3/assets/fonts/DIN-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'frutigel';
    src: url('sf_3/assets/fonts/unicode.frutigel.ttf') format('truetype');
}

.titre,h1{
    font-family: 'DIN Black';
    color: red;
}

.soustitre, h2, h3, h4, h5, h6{
    font-family: 'DIN Black';
    color: rgb(255, 0, 128);
}

p{
    color:red;
}