<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <style>

            body, a, a:hover{
                font-family: Arial;
                color: #1027D1;
            }

            @font-face {
                font-family: 'DIN regular';
                src: url('./assets/fonts/DIN-Regular.ttf') format('truetype');
            }

            @font-face {
                font-family: 'DIN Black';
                src: url('./assets/fonts/DIN-Black.ttf') format('truetype');
            }


            .titre,h1{
                font-family: 'DIN Black';
                color: #1027D1;
            }

            h2, h3, h4, h5, h6{
                font-family: 'DIN regular';
                color: #1027D1;

            }

            .bg-campus{
                background: #1027D1;
            }

            .text-campus{
                color:  #1027D1;
            }


        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom bg-campus">
            <a class="navbar-brand text-primary titre" href="{{ '/' }}">LE CAMPUS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-primary"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ 'events' }}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ 'articles' }}">Articles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ 'campus' }}">Campus</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}
<<<<<<< HEAD

        <footer class="footer">
            <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-campus">
                <a class="nav-link text-light" href="{{ 'users' }}">Utilisateur</a>
            </nav>
        </footer>


=======
        <!--<script src="{{ asset('vendor/jquery/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ asset('vendor/popper/popper.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script> -->
>>>>>>> d799b0b2e1ca9f6ac811aae068c7792b3285420c
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    </body>
</html>
